# We depend on Django 1.7
-e git+git@github.com:django/django.git@stable/1.7.x#egg=django

# Django 1.7 fixes
-e git+git@github.com:EnTeQuAk/django-rest-framework-httpsignature#egg=django-rest-framework-httpsignature
